section#conteudo nav{   
    padding: 0;
}

section#conteudo .caixa{
    margin: 10px 0px;
    padding: 5px;
    background: url(../img/fundo-caixa.png);

}

@media (min-width: 992px) {
    section#conteudo .col-3 .caixa{
        width: 80%;
    }    
}

section#conteudo .caixa .bloco{
    padding: 5px;
    background: var(--cor-branca);
}

section#conteudo .caixa h4{
    padding: 5px;
    background: var(--cor-principal);
    color: var(--cor-branca);
    font-weight: bold;
}

@media (max-width: 992px) {
    #menuPrincipal {
        z-index: 2;
    }

    section#conteudo .entrevistas a.nav-link:hover{
        padding-left: 0px;
        background: none;
        color: var(--cor-cenza);
    }
}

section#conteudo .entrevistas li.nav-item{
    border-bottom: 1px solid var(--cor-cenza);
}

section#conteudo .entrevistas a.nav-link{
    color: var(--cor-preto);
    font-size: 0.9em;
    padding-left: 5px;
    text-decoration: none;
}

section#conteudo .entrevistas li.ultimo{
    border-bottom: none;
}

@media (min-width: 992px) {
    section#conteudo .entrevistas a.nav-link:hover{
        padding-left: 20px;
        background: url(../img/marcador.png) no-repeat center left;
        color: var(--cor-cenza);
    }
}

section#conteudo .news #email{
    width: 100%;
}

section#conteudo .news .submit{
    width: 80%;
    margin: 10px 0;
    color: var(--cor-branca);
    background: var(--cor-principal);
}

.bloco h5 {
    background: #de003e;
    color: var(--cor-branca);
    display: inline;
    padding: 2px;
    font-weight: bold;
}
 
.bloco h5.entrevistas {
    background: #de003e;
    color: var(--cor-preto);
    display: inline;
    padding: 2px;
    font-weight: bold;
}

.bloco a:link, a:visited {
    color: #b10333;
    padding: 2px;
    text-decoration: underline;
}

.bloco a:hover {
    color: #e50040;
}

.ista-noticias li {
    padding-left: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

.lista-noticias li a img {
    float: left;
    margin: 5px;
}

.lista-noticias li a.nav-link {
    text-decoration: none;
}

.lista-noticias li a h6 {
    background: none;
    padding: 0;
    margin: 0;
    color: #3e7ab9;
}

.lista-noticias li a p {
    font-size: 0.7em;
    color: #000;
}

.lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}