/*Congigurações gerais
__________________________________________________________________________________________________________*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet", Helvetica, sans-serif;
    background: rgb(255, 255, 255) url(../img/fundo.png) repeat-x;
}

main {
    width: 970px;
    height: 500px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

/*Congigurações a header
__________________________________________________________________________________________________________*/
header {
    background: url(../img/detalhe-topo.png) no-repeat top right;
    width: 900px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Configurações da tag h1 que esta dentro do id logo */
header #logo h1 {
    background: url(../img/logo.png) no-repeat;
    width: 160px;
    height: 70px;
    text-indent: -3000px;
}

/* Configurações da tag ul que esta dentro do id menu-principal */
header #menu-principal ul {
    float: left;
}

/* Configuração da tag li que esta dentro da tag ul */
header #menu-principal ul li {
    float: left;
    background: rgb(177, 3, 51);
}

/* Configurações da tag a que esta dentro da tag li */
header #menu-principal ul li a {
    display: block;
    padding: 10px;
    border-right: 1px solid rgb(142, 5, 43);
    color: rgb(255, 255, 255);  
}
header #menu-principal ul li a:hover {
    color: rgb(110, 5, 20); 
}

/*Configurações da class borda que esta dentro da tag li */
header #menu-principal ul li a.borda {
    border-right: none;
}

/*Congigurações a conteudo
__________________________________________________________________________________________________________*/
#conteudo {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

/* Configurações dos ids caixa1, caixa2, caixa3 que está dentro do id conteudo */
#conteudo nav#caixa1, 
#conteudo nav#caixa2, 
#conteudo nav#caixa3 {
    box-sizing: border-box;
    padding: 10px;
}

/* Configurações da class caixa que está dentro da tag nav */
#conteudo nav .caixa {
    background: url(../img/fundo-caixa.png);
    padding: 5px;
    margin-bottom: 10px;
}

/* Configurações da tag h2 que esta dentro das tags nav#caixa1, nav#caixa2, nav#caixa3 */
#conteudo nav#caixa1 h2, 
#conteudo nav#caixa2 h2, 
#conteudo nav#caixa3 h2{
    font-size: 1.2em;
    background: rgb(41, 76, 113);
    color: rgb(255, 255, 255);
    padding: 5px;
}

/* Configurações dos id caixa1 e caixa2 que estão dentro do id conteudo */
#conteudo nav#caixa1, 
#conteudo nav#caixa2 {
    width: 350px;
}

/* Configurações do id caixa1 que está dentro do id conteudo */
#conteudo nav#caixa1 {
    order: 2;
}

/* Configurações do id caixa2 que está dentro do id conteudo */
#conteudo nav#caixa2 {
    order: 3;
}

/* Configurações do id caixa3 que está dentro do id conteudo */
#conteudo nav#caixa3 {
    order: 1;
    width: 200px;
}

/* Configurações da class container que está dentro da tag nav */
#conteudo nav .container {
    margin: 5px 0 5px 0;
    padding: 5px;
    background: rgb(255, 255, 255);
}

/* Configurações da tag a que está dentro do id menu-lateral */
#conteudo nav .container #menu-lateral a{
    display: block;
    padding: 5px;
    border-bottom: 1px solid rgb(161, 161, 161);
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#conteudo nav .container #menu-lateral a:hover {
    background: url(../img/marcador.png) no-repeat left;
    padding-left: 20px;
    color: rgb(161, 161, 161);
}

/* Configurações da tag form que está dentro da class container */
#conteudo nav .container form {
    margin: 5px;
}

/* Configurações do id email que está dentro da class container */
#conteudo nav .container form #email{
    width: 100%;
    margin-right: 130px;
    box-sizing: border-box;
    padding: 5px;
}

/* Configurações da id enviar que está dentro da class container */
#conteudo nav .container form #enviar{
    margin-top: 5px;
    background: rgb(142, 5, 43);
    padding: 5px;
    color: rgb(255, 255, 255);
}

/* Configurações da tag h3 que está denrtro do id caixa1 */
#conteudo nav#caixa1 .container h3 {
    color: rgb(255, 255, 255);
    background-color: rgb(142, 5, 43);
    display: inline;
    padding: 3px;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
}

/* Configurações da class imagem que está dentro da class container */
#conteudo .container .imagem {
    margin: 0 3px 0px 0;
}

/* Configurações da tag img que está dentro da class imagem */
#conteudo .container .imagem img {
    border: 2px solid rgb(223, 223, 223);
}

/* Configurações da tag a que esta dentro da class container */
#conteudo .container a {
    color: rgb(142, 5, 43);
    text-decoration: underline;
}
#conteudo nav#caixa1 .container a:hover {
    color: rgb(231, 0, 64);
}

/* Configurações da tag h3 que está dentro do id caixa2*/
#conteudo nav#caixa2 .container h3 {
    color: rgb(0, 0, 0);
    background-color: rgb(231, 0, 64);
    display: inline;
    padding: 3px;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
}