/* Configurações gearis
_____________________________________________________________________________________________________________*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../img/fundo.png) repeat-x;
}

main {
    margin: 0 auto;
    width: 870px;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Configurações de header
_____________________________________________________________________________________________________________*/
header {
    border: 1px solid red; /* TIRAR */
    padding: 20px;
    background: url(../img/detalhe-topo.png) no-repeat right;
}

/* Configurações do id logo que está dentro da tag header */
header #logo {
    background: url(../img/logo.png) no-repeat;
    width: 160px;
    height: 75px;
    text-indent: -3000px;
    margin-bottom: 15px;
}

/* Configuração da tag ul que está dentro do id menu-principal */
header #menu-principal ul {
    float: left;
}

/* Configuração da tag li que está dentro do id menu-principal */
header #menu-principal li {
    float: left;
}

/* Configuração da tag a que está dentro do id menu-principal */
header #menu-principal li a {
    padding: 13px;
    display: block;
    background: rgb(177, 3, 51) url(../img/divisor.png) repeat-y;
    color: rgb(255, 255, 255);
}