/*Congigurações gerais
__________________________________________________________________________________________________________*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet", Helvetica, sans-serif;
    background: rgb(255, 255, 255) url(../img/fundo.png) repeat-x;
}

main {
    width: 970px;
    height: 500px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

/*Congigurações a header
__________________________________________________________________________________________________________*/
header {
    background: url(../img/detalhe-topo.png) no-repeat top right;
    width: 900px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Configurações da tag h1 que esta dentro do id logo */
header #logo h1 {
    background: url(../img/logo.png) no-repeat;
    width: 160px;
    height: 70px;
    text-indent: -3000px;
}

/* Configurações da tag ul que esta dentro do id menu-principal */
header #menu-principal ul {
    float: left;
}

/* Configuração da tag li que esta dentro da tag ul */
header #menu-principal ul li {
    float: left;
    background: rgb(177, 3, 51);
}

/* Configurações da tag a que esta dentro da tag li */
header #menu-principal ul li a {
    display: block;
    padding: 10px;
    border-right: 1px solid rgb(142, 5, 43);
    color: rgb(255, 255, 255);  
}
header #menu-principal ul li a:hover {
    color: rgb(110, 5, 20); 
}

/*Configurações da class borda que esta dentro da tag li */
header #menu-principal ul li a.borda {
    border-right: none;
}

/*Congigurações a conteudo
__________________________________________________________________________________________________________*/
#conteudo {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

/* Configurações dos ids caixa1, caixa2, caixa3 que está dentro do id conteudo */
#conteudo nav#caixa1, 
#conteudo nav#caixa2, 
#conteudo nav#caixa3 {
    background: url(../img/fundo-caixa.png);
    box-sizing: border-box;
    padding: 10px;
}

/* Configurações da tag h2 que esta dentro das tags nav#caixa1, nav#caixa2, nav#caixa3 */
#conteudo nav#caixa1 h2, 
#conteudo nav#caixa2 h2, 
#conteudo nav#caixa3 h2{
    font-size: 1.2em;
    background: rgb(41, 76, 113);
    color: rgb(255, 255, 255);
    padding: 5px;
}

/* Configurações dos id caixa1 e caixa2 que estão dentro do id conteudo */
#conteudo nav#caixa1, 
#conteudo nav#caixa2 {
    width: 350px;
}

/* Configurações do id caixa1 que está dentro do id conteudo */
#conteudo nav#caixa1 {
    order: 2;
}

/* Configurações do id caixa2 que está dentro do id conteudo */
#conteudo nav#caixa2 {
    order: 3;
}

/* Configurações do id caixa3 que está dentro do id conteudo */
#conteudo nav#caixa3 {
    order: 1;
    width: 200px;
}

/* Configurações da class container que está dentro da tag nav */
#conteudo nav .container {
    margin: 5px 0 5px 0;
    border: 1px solid red;
    padding: 5px;
    background: rgb(255, 255, 255);
}

/* Configurações da tag a que está dentro ca class container */
#conteudo nav .container li a{
    display: block;
    padding: 5px;
    border: 1px solid rgb(210, 200, 200);
}

#conteudo nav .container li a:hover {
    background: url(../img/marcador.png) no-repeat left;
    padding-left: 20px;
    color: rgb(210, 200, 200);
}